<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>169446530306-roimum6mi8328e6kndu7jsi7c4d7fkh6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.169446530306-roimum6mi8328e6kndu7jsi7c4d7fkh6</string>
	<key>API_KEY</key>
	<string>AIzaSyBo2onzkIOnwqR0QqR7trcahopNIA8QS1g</string>
	<key>GCM_SENDER_ID</key>
	<string>169446530306</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.introPai.app.IntroducePaiApp</string>
	<key>PROJECT_ID</key>
	<string>pcloudmessaging</string>
	<key>STORAGE_BUCKET</key>
	<string>pcloudmessaging.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:169446530306:ios:7a8b623c5120e9dd</string>
	<key>DATABASE_URL</key>
	<string>https://pcloudmessaging.firebaseio.com</string>
</dict>
</plist>